/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
    background-color: rgba(0, 0, 25, 0.5);
}

/* hero background image */
.bgimage {
    height:100vh;
    background-image: url('images/jpeg/heroImage.jpeg');
    background-size:cover;
    position:relative;
}

@supports (background-image: url('images/avif/heroImage.avif')) {
    .bgimage {
        background-image: url('images/avif/heroImage.avif');
    }
}

/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
.servicesText.card {
    min-height:100px;
    cursor: pointer;
}

.nonServicesText.card {
    min-height:280px;
}

.smallNonServicesText.card {
    min-height: 215px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 25px;
    text-align: left;
    width: 100%;
}
.card-title {
    text-align: left;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover,.fa-github:hover,.fa-linkedin:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
}

.small-container{
	margin: auto;
    max-width: 800px;
    width: 90%;
}

.smaller-container {
    min-height: 1px;
    max-width: 800px;
    width: 90%;
    margin: auto;
}

.xsmall-container{
	margin: auto;
	max-width: 400px;
    width: 90%;
}